*{
    text-emphasis-color: white;
}

.text{
    background-color: "red";
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    margin: auto;
}

.b {
    width: 1200px;
    border: 15px solid white;
    padding: 1px;
    margin: auto;
    font-size: 25px;
    align-content: center;
    align-self: center;
    text-align: center;
}

.ul{
    display: inline-flex;
    margin: auto;
}

.gj{
    padding-right: 100px;
    align-self: center;
    margin: auto;
}

